<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gols</title>
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="/">Copa do Mundo Tracker</a>
        <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/equipe/">Equipes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/jogador/">Jogadores</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/partida/">Partidas</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/estadio/">Estádios</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/gol/">Gols</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/admin/">Administração</a>
                </li>

            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h2 class="mb-4">Lista de Gols</h2>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Partida</th>
                    <th scope="col">Jogador</th>
                    <th scope="col">Minuto</th>
                    <th scope="col">Tipo de Gol</th>
                </tr>
            </thead>

            <tbody>
                {% for gol in gols %}
                <tr>
                    <td>{{ gol.partida }}</td>
                    <td>{{ gol.jogador }}</td>
                    <td>{{ gol.minuto }}</td>
                    <td>{{ gol.tipo_gol }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Scripts Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
